
/* Custom page header */
.header {
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
.navbar{
  margin-bottom: 0px !important;
}

.navbar-header{
  Width: 100%;
  .right-side{
    float: right;
  }
}

.searchBar{
  padding-top: 7px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: lightblue;
}
.search-button{
  button {
    border: 1px solid white;
    color: white;
    margin-top: 6px;
    width: 100%;
    background-color: black;
  }

  button[disabled]
  {
    opacity: 0.25;
    cursor: not-allowed;
  }
}