<div>
	<calculate-interferance model="model" prox-location="proxCallSign" ng-if="proxCallSign"></calculate-interferance>
<!-- 	<div class="grid-block small-12">
		<h3><span>Prox call sign Information</span></h3>
	</div>
	<div class="grid-block small-12" style="padding-right: 10px;">
		<div class="grid-block small-2 border-line">
			<span>CallSign</span>
		</div>
		<div class="grid-block small-2 border-line">
			<span>distance</span>
		</div>
		<div class="grid-block small-2 border-line">
			<span>lat</span>
		</div>
		<div class="grid-block small-2 border-line">
			<span>lon</span>
		</div>
		<div class="grid-block small-3 border-line">
			<span>licensee</span>
		</div>

	</div>
	<div ng-repeat="prox in proxCallSign" style="padding-right: 10px;">
		<div class="grid-block small-12" ng-repeat="item in prox" style="padding-right: 10px;">
			<div class="grid-block small-2 border-line">
				<span>{{::item.callsign}}</span>
			</div>
			<div class="grid-block small-2  border-line">
				<span>{{::item.distance}}</span>
			</div>
			<div class="grid-block small-2 border-line">
				<span>{{::item.lat}}</span>
			</div>
			<div class="grid-block small-2 border-line">
				<span>{{::item.lon}}</span>
			</div>
			<div class="grid-block small-3 border-line">
				<span>{{::item.licensee}}</span>
			</div>
		</div>
	</div> -->
</div>