<div class="main-container">
	<call-sign-information model="dataModel" ng-if="dataModel"></call-sign-information>
	<tower-information model="dataModel.locations" ng-if="dataModel"></tower-information>
	<frequency-information model="dataModel" ng-if="dataModel"></frequency-information>
	<!-- <div id="map"></div> -->
<!-- 	<div id="map"></div> -->
<!--     <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
         <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div> -->
</div>
